.project {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Quickpen';
    
  }
  
  .project h1 {
    margin-top: 50px;
    color: #5F5D6C;
    font-size: 48px;
    text-shadow: 3px 3px 1px pink;

  }
  .project img {
    width: 900px;
    height:auto;
    border-radius: 10px;
  }
  
