.App {
  background-color: #FFF2F3;
  text-align: center;
}




@font-face {
  font-family: 'Newsreader Regular';
  src: url('./assets/Newsreader_14pt-Regular.ttf') format('ttf'),
  url('./assets/Newsreader_14pt-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader Italic';
  src: url('./assets/Newsreader_14pt-Italic.ttf') format('ttf'),
    url('./assets/Newsreader_14pt-Italic.ttf') format('ttf');
  
  
}



input,
textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gavency';
}